/* Gagnone styles */
@font-face {
    font-family: "adobe-caslon-pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://wineworks.co/vinespring/gkvwine/fonts/adobe-caslon-pro.ttf) format("truetype");
}

header.storefront-header {
    margin-top: 0;
    position: relative;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #000;
}
header.storefront-header .logo img {
    filter: brightness(0) invert(1);
}
header.storefront-header nav a,
.c7-user-nav__account a {
    font-family: adobe-caslon-pro;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgba(255,255,255,.7);
}
header.storefront-header nav a:hover,
header.storefront-header nav a:focus,
header.storefront-header nav a:active,
.c7-user-nav__account a:hover,
.c7-user-nav__account a:active,
.c7-user-nav__account a:focus {
  color: rgba(255,255,255,1);
}
header.storefront-header .c7-user-nav__account > a:hover,
header.storefront-header .c7-user-nav__account > a:focus,
header.storefront-header .c7-user-nav__account > a:active {
  color: rgba(255,255,255,1);
}

:root {
	--c7-page-width: 1100px;
  --c7-font-family: "adobe-caslon-pro" !important;
  --c7-body-text-color: #000;
  --c7-font-size: 15px;
  --c7-heading-font-family: "adobe-caslon-pro" !important;
  --c7-heading-text-color: #fff !important;
  --c7-header-text-color: #000 !important;
  --c7-cart-count-bg: #fff !important;
  --c7-cart-count-text-color: #000 !important;

  --c7-primary-button-bg: rgb(150 150 150 / 86%) !important;
  --c7-primary-button-text-color: #fff !important;
  --c7-primary-button-bg-hover: rgb(150 150 150 / 86%) !important;

  --c7-alt-button-bg: #fff !important;
  --c7-alt-button-bg-hover: #000 !important;
  --c7-alt-button-text-color: #000 !important;

  --c7-button-border-radius: 300px !important;

  --c7-border-radius: 0 !important;
  --c7-modal-border-radius: 0 !important;
  --c7-field-border-radius: 0 !important;
  --c7-dropdown-border-radius: 0 !important;
  --c7-block-border-radius: 0 !important;
}

/* Account header */
#account-header > div {
  display: inline-block;
}
.c7-user-nav__cart > button {
  padding-top: 4px;
}
#account-header .c7-user-nav__cart__title svg {
  stroke: #fff;
}
#account-header .c7-user-nav__cart__count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
#account-header .c7-user-nav__account__name svg {
  stroke: #fff;
}
.c7-user-nav__account a:hover {
  color: rgba(255,255,255,1);
}
header.storefront-header .c7-user-nav__cart__title svg {
  stroke: #fff;
}
.c7-user-nav__account__dropdown__header a,
.c7-user-nav__account__dropdown a {
  color: #000;
}
.c7-user-nav__account__dropdown li a {
  padding: 9px 10px 4px;
}
.c7-user-nav__account__dropdown__header a span {
  text-transform: lowercase;
}
.c7-user-nav__account__dropdown li a:hover,
.c7-user-nav__account__dropdown li a:active,
.c7-user-nav__account__dropdown li a:focus,
.c7-user-nav__account__dropdown a:hover,
.c7-user-nav__account__dropdown a:active,
.c7-user-nav__account__dropdown a:focus {
  color: #000;
}
.c7-user-nav__account__name svg {
  stroke: #b9b9b9;
}

/* Page content */
body.template-products :focus, body.template-products a:focus,
body.template-homepage :focus, body.template-homepage a:focus {
  outline-color: transparent;
}
body.template-products .page-content #c7-content,
body.template-homepage .page-content .c7-personalization {
  padding-left: 29px;
	padding-right: 29px;
	margin: 0 auto;
  padding-bottom: 6.6vmax;
  padding-top: 3vw;
}
#c7-content h1.c7-h1, #c7-content .c7-account__header p:first-of-type,
.template-page h1, .template-contact-us h1 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
}
.template-homepage {
	overflow-x: hidden;
}
body.template-homepage header.storefront-header {
  margin-bottom: 0;
}
body.template-homepage .page-content .c7-personalization {
	min-height: 0px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
}
body.template-homepage .page-content .c7-personalization img {
  width: 100%;
  vertical-align: top;
}
body.template-homepage .page-content {
 	padding-top: 0;
 	padding-bottom: 0;
}
body.template-homepage .page-content p {
  margin: 0;
}
body.template-homepage .page-content .c7-personalization__content {
  margin-bottom: 0;
}

/* Footer */
footer.storefront-footer {
  background-color: #000;
}
footer.storefront-footer .footer__nav ul li a,
footer.storefront-footer .footer__meta .footer__legal,
footer.storefront-footer a {
  color: #fff;
}
footer.storefront-footer .content-wrapper a:hover,
footer.storefront-footer .content-wrapper a:active,
footer.storefront-footer .content-wrapper a:focus {
  text-decoration: underline;
}


/* Titles */
#c7-content h1, #c7-content h2, #c7-content h3, #c7-content h4,
.template-homepage h1, .template-homepage h2, .template-homepage h3, .template-homepage h4,
.c7-product-collection .c7-product__details .c7-product__title,
h1.c7-h1, h2.c7-h2, h3.c7-h3, h4.c7-h4, h5.c7-h5, h6.c7-h6 {
  color: #000;
  font-family: "adobe-caslon-pro";
  font-weight: 400;
}
.c7-product__title,
.c7-product__title a,
.c7-product-collection .c7-product__title,
.c7-club-product__details__title {
  color: #000;
  line-height: 23px;
  margin: 20px 0;
}
.c7-product-collection__product-list .c7-product__title a {
  line-height: 25px;
  color: #000;
  font-size: 18px;
}
.c7-product-detail .c7-product__title {
	font-size: 48px;
  line-height: 1.1;
  margin-bottom: 0.5em;
  text-align: left;
}
.c7-product-collection__product-list {
    -webkit-column-gap: 0;
  column-gap: 0;
  row-gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.c7-product-collection__product-list .c7-product__teaser p {
  color: #000;
  opacity: 0.6;
}

/* Buttons */ /* EDITED */
.c7-btn {
  border: 0;
  border-radius: 300px;
  transition: .1s opacity linear;
    -webkit-backface-visibility: hidden;
  padding: 13px 26px;
  letter-spacing: 1px;
  font-family: adobe-caslon-pro;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: rgba(150,150,150,.86);
  border-color: rgba(150,150,150,.86);
}
button.c7-btn--alt--small {
  border: 0;
  border-radius: 0;
  transition: none;
    -webkit-backface-visibility: unset;
  padding: 0;
  letter-spacing: 1px;
  font-family: adobe-caslon-pro;
  font-size: 11px !important;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
  color: #000;
  background-color: transparent;
  border-color: transparent;
}
#c7-content .c7-btn--primary:hover, #c7-content .c7-btn--primary:active, #c7-content .c7-btn--primary:focus,
#c7-content .c7-btn--primary--small:hover, #c7-content .c7-btn--primary--small:active, #c7-content .c7-btn--primary--small:focus,
.c7-side-cart .c7-btn--primary:hover, .c7-side-cart .c7-btn--primary:active, .c7-side-cart .c7-btn--primary:focus,
.c7-side-cart .c7-btn.c7-btn--alt:hover, .c7-side-cart .c7-btn.c7-btn--alt:active, .c7-side-cart .c7-btn.c7-btn--alt:focus,
.c7-form--coupon-code-container .c7-btn:hover, .c7-form--coupon-code-container .c7-btn:active, .c7-form--coupon-code-container .c7-btn:focus,
.c7-checkout__content .c7-btn.c7-btn--alt:hover, .c7-checkout__content .c7-btn.c7-btn--alt:active, .c7-checkout__content .c7-btn.c7-btn--alt:focus,
.c7-modal__content .c7-btn.c7-btn--alt:hover, .c7-modal__content .c7-btn.c7-btn--alt:active, .c7-modal__content .c7-btn.c7-btn--alt:focus,
.c7-account-details__delete-account .c7-btn.c7-btn--alt:hover, .c7-account-details__delete-account .c7-btn.c7-btn--alt:active,
.c7-account-details__delete-account .c7-btn.c7-btn--alt:focus {
  opacity: 0.8;
  background-color: rgba(150,150,150,.86);
  border-color: rgba(150,150,150,.86);
}
button.c7-btn--alt--small {
  text-decoration: underline;
  opacity: 1;
  background-color: transparent;
  border-color: transparent;
}
.c7-receipt__header .c7-btn {
    position: relative;
}

/* Featured products style reset */
.c7-product-collection__products--featured .c7-product {
  background: transparent;
  border-radius: none;
  padding: 0;
}
.c7-product-collection__products--featured .c7-product__image {
  margin-top: 0;
}

/* All other text throughought the C7 pages */
#c7-content .c7-checkout a,
.c7-account-login__options a,
.c7-account-login__password-options,
.c7-link {
  text-decoration: underline;
}
.c7-content .c7-form .c7-checkbox, .c7-content .c7-form .c7-radio {
  font-size: 16px;
}

/* Collections layout */
@media screen and (min-width: 769px) {
  .content .c7-personalization .c7-product-collection__product-list,
.content .c7-product-collection__product-list {
    -webkit-column-gap: 0;
  column-gap: 0;
  row-gap: 0;
  display: flex;
  flex-wrap: wrap;
  }
}
.c7-product-collection .c7-product,
.c7-product-collection__product-list .c7-product {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 33.333%;
  padding: 0 30px;
  margin-bottom: 40px;
}
.c7-product-collection .c7-product__add-to-cart__form .c7-product__add-to-cart__form__quantity input {
  border-radius: 4px;
}
.c7-product-detail .c7-product__add-to-cart__form .c7-product__add-to-cart__form__quantity input {
  border-radius: 4px;
}
.content .c7-product-collection .c7-product__image {
  margin-right: 0;
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 960px) {
  .c7-product-collection .c7-product {
    width: 50%;
    margin-bottom: 50px;
  }
}
.c7-product-collection .c7-product .c7-product__details {
  flex: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 0) and (max-width: 1695px) and (orientation: landscape) {
  .c7-product-collection .c7-product__details .c7-product__title {
    font-size: calc(1.32vw + 1rem);
  }
}
@media screen and (max-width: 768px) {
  .content .c7-product-collection .c7-product__image img {
    max-height: none;
  }
  .c7-product-collection .c7-product, .c7-product-collection.four-col .c7-product, .c7-product-collection.four-col .c7-product-collection__product-list .c7-product {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
  #c7-content .c7-product-detail .c7-product__image {
    margin-bottom: 20px;
    text-align: left;
  }
  .c7-order-summary__buttons a {
    font-size: 14px;
  }
}

.c7-product__add-to-cart__price {
  margin: 5px 0 20px;
  line-height: 18px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.c7-product-detail .c7-product__add-to-cart__price {
  justify-content: flex-start;
}

/* Cart pages and sidebars */
.c7-order-summary__buttons a {
  padding: 13px 20px 10px;
  line-height: 1.5;
  min-height: auto;
}
.c7-link {
  color: #000;
}
.c7-order-item__title {
  color: #000;
}
.c7-form--coupon-code-container .c7-form__group {
  align-items: center;
}
.c7-radio input[type=radio]:checked + .c7-radio__control::after {
  background-color: #000 !important;
}
.c7-checkbox input[type=checkbox]:checked + .c7-checkbox__control {
  background: #000 !important;
  border-color: #000 !important;
}
.c7-checkbox input[type=checkbox]:checked + .c7-checkbox__control::after {
  top: 0 !important;
}

/* Checkout pages and sidebars */
.c7-order-summary .c7-form--coupon-code-container input[type=text] {
  border-radius: 4px;
}

/* Customer account dashboard */
.c7-account__menu a {
  color: #000;
}
.c7-account .c7-account__header p:first-child {
  color: #000;
  margin: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
/* Account */
.c7-account .c7-account__header .c7-link svg {
  stroke: #0e0e0e;
}
.c7-account .c7-account__menu .c7-active a {
  border-bottom-color: #000000;
}
.c7-account .c7-account-details__addresses .c7-btn.c7-btn--alt--small,
.c7-account .c7-account-details__payment .c7-btn.c7-btn--alt--small {
  text-decoration: underline;
  font-size: 17px;
}
.c7-account .c7-account-details__addresses .c7-btn.c7-btn--alt--small:hover,
.c7-account .c7-account-details__payment .c7-btn.c7-btn--alt--small:hover {
  background-color: transparent;
}
.c7-content--checkout .c7-tab[aria-selected=true] {
  border-color: #000;
}
#c7-content .c7-account-dashboard .c7-h2 {
  font-size: 24px;
}
.c7-account-block__title {
  color: #000;
  font-size: 20px;
}
.c7-checkout-logo {
  filter: sepia(100%) brightness(0);
}
.c7-checkout .c7-club-product__details__title, .c7-account .c7-club-product__details__title{
color: #000;
}
